.tab-component {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;

  .tab-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    .tab-item {
      cursor: pointer;
      padding: 10px 20px;
      margin: 0 0;
      color: #1e3d8c;
      border-bottom: 2px solid #a2aecc;
      transition: background-color 0.3s ease;
      &.large {
        padding: 30px 30px;
      }
      &.small {
        padding: 6px 20px;
      }
      &.active {
        border-bottom: 2px solid #1e3d8c;
      }
      &:hover {
        background-color: #cad9ff;
      }
    }

    .tab-item {
      &.secondary-tab-item {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0 0;
        color: #1e3d8c;
        border: 2px solid white;
        border-bottom: 2px solid #a2aecc;
        transition: background-color 0.3s ease;

        &.active {
          border: 2px solid #1e3d8c;
          border-bottom: none;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:hover {
          border: 2px solid #a2aecc;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          background: none;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .tab-content {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
