$progress-bg: #c7d3eb;
$progress-color: #3b82f6;

.progress {
  transition: width 0.5s ease-in-out;
  position: relative;
  height: 1rem;
  overflow: hidden;
  background-color: $progress-bg;
  color: $progress-color;
  border-radius: 10px;
  width: 100%;
  height: 12px;

  &::-moz-progress-bar {
    background: $progress-color;
  }

  &::-webkit-progress-value {
    background: $progress-color;
  }

  &::-webkit-progress-bar {
    background: $progress-bg;
  }
}

.progress-slider {
  width: 100%;
  height: 12px;
  position: relative;
  background-color: #c7d3eb;
  border-radius: 10px;
  cursor: pointer;

  .progress-bar {
    height: 100%;
    background-color: #3b82f6;
    border-radius: 10px;
    width: var(--progress, 0%);
  }

  .slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #3b82f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: var(--progress, 10%); /* Set left position to progress value */
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 70%;
      height: 70%;
      background-color: $progress-bg;
      border-radius: 50%;
    }
  }
}

.progress-steps {
  width: 100%;

  .progress-steps-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    .progress-step {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $progress-color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      color: $progress-color;
      &.active {
        background-color: $progress-color;
        color: #fff;
      }
      &.completed {
        position: relative;
        border: 2px solid $progress-color;
      }
    }
    .progress-step-line {
      width: 50px;
      height: 3px;
      background-color: $progress-color;
      &:last-child {
        display: none;
      }
    }
  }
}
