.accordion {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ced4da;

  border-radius: 4px;
}

.accordion-title {
  background-color: white;

  padding: 8px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 1.2em;
    font-weight: 500;
  }
}

.accordion-content {
  display: none;
  padding: 16px;
}

.accordion-item.active .accordion-title {
  background-color: white;
}

.accordion-item.active .accordion-content {
  display: block;
  border-top: 1px solid #ced4da;
}
