.accordion {
  width: 100%;
  &.size-small {
    max-width: 350px;
  }
  &.size-medium {
    max-width: 450px;
  }
  &.size-large {
    max-width: 550px;
  }
  &.size-full {
    max-width: 100%;
  }
}

.accordion-item {
  border: 1px solid #ced4da;

  border-radius: 4px;
}

.accordion-title {
  background-color: white;

  padding: 8px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 1.2em;
    font-weight: 500;
  }
}

.accordion-content {
  display: none;
  padding: 16px;
}

.accordion-item.active .accordion-title {
  background-color: white;
}

.accordion-item.active .accordion-content {
  display: block;
  border-top: 1px solid #ced4da;
}
